<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <% include partials/header.ejs %>
</head>
<body>

  <% include partials/navigation.ejs %>

  <h1>{ Page }</h1>

  <% include partials/footer.ejs %>

</body>
</html>